version: 4.6.0.{build}

image: Visual Studio 2015
platform: x64
configuration:
  - '3.8'

# only build on 'master' and pull requests targeting it
branches:
  only:
    - master

environment:
  matrix:
    - COMPILER: MSVC
      TASK: python
    - COMPILER: MINGW
      TASK: python

clone_depth: 5

install:
  - git submodule update --init --recursive  # get `external_libs` folder
  - set PATH=C:\mingw-w64\x86_64-8.1.0-posix-seh-rt_v6-rev0\mingw64\bin;%PATH%
  - set PYTHON_VERSION=%CONFIGURATION%
  - ps: |
      $env:ALLOW_SKIP_ARROW_TESTS = "1"
      $env:APPVEYOR = "true"
      $env:CMAKE_BUILD_PARALLEL_LEVEL = 4
      $env:MINICONDA = "C:\Miniconda3-x64"
      $env:PATH = "$env:MINICONDA;$env:MINICONDA\Scripts;$env:PATH"
      $env:BUILD_SOURCESDIRECTORY = "$env:APPVEYOR_BUILD_FOLDER"

build: false

test_script:
  - conda config --remove channels defaults
  - conda config --add channels nodefaults
  - conda config --add channels conda-forge
  - conda config --set channel_priority strict
  - conda init powershell
  - powershell.exe -ExecutionPolicy Bypass -File %APPVEYOR_BUILD_FOLDER%\.ci\test-windows.ps1
