version: 3.3.5.{build}

image: Visual Studio 2015
platform: x64
configuration:  # a trick to construct a build matrix with multiple Python versions
  - '3.7'

# only build pull requests and
# commits to 'master' or any branch starting with 'release'
branches:
  only:
    - master
    - /^release/

environment:
  matrix:
    - COMPILER: MSVC
      TASK: python
    - COMPILER: MINGW
      TASK: python

clone_depth: 5

install:
  - git submodule update --init --recursive  # get `external_libs` folder
  - set PATH=%PATH:C:\Program Files\Git\usr\bin;=%  # delete sh.exe from PATH (mingw32-make fix)
  - set PATH=C:\mingw-w64\x86_64-8.1.0-posix-seh-rt_v6-rev0\mingw64\bin;%PATH%
  - set PYTHON_VERSION=%CONFIGURATION%
  - set CONDA_ENV="test-env"
  - ps: |
      $env:MINICONDA = "C:\Miniconda3-x64"
      $env:PATH = "$env:MINICONDA;$env:MINICONDA\Scripts;$env:PATH"
      $env:BUILD_SOURCESDIRECTORY = "$env:APPVEYOR_BUILD_FOLDER"
      $env:LGB_VER = (Get-Content $env:APPVEYOR_BUILD_FOLDER\VERSION.txt).trim()

build: false

test_script:
  - conda config --add channels conda-forge
  - conda config --set channel_priority strict
  - conda init powershell
  - powershell.exe -ExecutionPolicy Bypass -File %APPVEYOR_BUILD_FOLDER%\.ci\test_windows.ps1
