# nightlies for: matplotlib, numpy, pandas, pyarrow, scipy, scikit-learn
--extra-index-url https://pypi.anaconda.org/scientific-python-nightly-wheels/simple

# runtime dependencies (using `.dev0` suffix to allow nightlies)
#
# pinning rules:
#
#   * latest versions of lightgbm's dependencies,
#   * including pre-releases and nightlies
#
cffi>=2.0.0
matplotlib>=3.11.0.dev0
numpy>=2.5.0.dev0
pandas>=3.1.0.dev0
pyarrow>=24.0.0.dev0
scikit-learn>=1.9.dev0
scipy>=1.18.0.dev0

# testing-only dependencies
cloudpickle>=3.1.2
psutil>=7.2.2
pytest>=9.0.2
